@import 'normalize.css/normalize.css';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

html {
  box-sizing:  border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  -webkit-font-smoothing: antialiased;
  color: #222;
  font-family: 'Open Sans', sans-serif;
}

:global .btn {
  padding: .6rem 1.1rem;
  background: #222;
  border: 0;
  border-radius: 10px;
  color: #f5f5f5;
  font-weight: bold;
  font-size: .7rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  cursor: pointer;

  &:hover {
    background: #333;
  }
}