@import './../variables.css';

.block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  max-width: 890px;
  margin: auto;
}

@supports (display: grid) {
  .block {
    display: grid;
    align-items: center;
    grid-gap: var(--cardGap);
    grid-template-columns: repeat(auto-fill, minmax(var(--cardWidth), var(--cardWidth)));
    width: 100%;
    margin: 2rem auto;
  }
}