.item {
  display: inline-block;
  margin: 0 1rem;
  text-align: center;

  & > span {
    display: block;
  }
}

.label {
  margin-bottom: .2rem;
  font-size: .5rem;
  text-transform: uppercase;
}

.value {
  font-size: 1.25rem;
  font-weight: bold;
}